:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
h1 {
    margin: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#map {
    width: 100rem !important;
    height: 50rem;
    position: relative !important;
}
#description-wrapper {
    width: 100rem;
    margin-top: 1rem;
}
.description {
    margin-top: 1rem;
    background-color: beige;
    height: 10rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
.person-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.person-icon {
    display: block;
    border-radius: 50%;
    padding: 0;
    width: 4rem;
}
.person-icon-selected {
    box-shadow:inset 0px 0px 0px 100px rgb(255, 225, 0);
}
.person-icon-done {
    opacity: 0.5;
}

.personMarker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}